@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url(IMG_1438.JPG);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    margin-top: 0%;
}

body i{
    position: absolute;
    font-size: 200px;
    top: 350px;
   
}
h1{
    font-weight: normal;
    letter-spacing: 7px;
    color: white;
    font-size: 4rem;
    margin-top: -10rem;
}

.countdown-container{
    display: flex;
    
   
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el{
    font-size: 1.5rem;
}


@media (max-width: 415px) {
   body{
    margin-top: 100px;
   }
   h1{
    font-size: 50px;
   }

   .countdown-container{
    display: flex;
    flex-direction: column;
    }
}